# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Cython debug symbols
cython_debug/

# VS Code settings
.vscode/

# Logs
*.log

# Environment variables and secrets
.env
.env.*
*.key
*.pem
*.sqlite
secrets.json
credentials.json
*.pkl

# System
.DS_Store
Thumbs.db
